.delimiter {
    background: rgba(255,255,255, 0.1);
    width: 100%;
    height: 1px;
}

.delimiter-mobile {
    background: rgba(255,255,255, 0.1);
    width: 100%;
    height: 1px;
}
.desktop {
    .delimiter-mobile {
        display: none;
    }
}