.doc-card {
    padding: 30px;
    background-color: var(--color-send);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba($color-gold, 0.50);
    &__title {
        color: var(--color-gold);
        color: #C0A46F;
        font-family: $default-font3;
        font-size: pxWidthInVw(64);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        margin-right: auto;
        @include to(600px){
            font-size: 24px;
        }
    }
    &__date {
        color: var(--Colors-Gray-900, #1A1E21);
        @include text-style-txt;
    }
    &__link {
        width: max-content;
        margin-left: 20px;
    }
    
    @media (hover: hover) {
        &:hover &__title {
            transform: translateX(10px);
        }
        &:hover .doc-card__link {
            [fill] {
                fill: var(--color-white);
            }
        }
        &__title {
            transition: .25s ease-out;
        }
        &__link{

            transition: .25s ease-out;
            [fill] {
                transition: .25s ease-out;
            }
        }
    }
}