.interactive-map {
    
    polygon {
        fill: rgba(127, 133, 93, 0.3);
        stroke-width: 2px;
        stroke-width: 0;
        stroke: #c4a86f;
        cursor: pointer;
        transition: fill 0.3s, stroke 0.3s;
        &[data-sale="0"] {
            fill: rgba(197, 168, 112, 0.71);
        }
        touch-action: initial !important;

        

        &:hover {
            // fill: rgba(127, 133, 93, 0.85);
            fill: rgba($color-green, 0.5);
        }
    }
}

@media (min-width: 768px) {}

.mini-map {
    position: absolute;
    bottom: var(--page-side-fields);
    left: calc(var(--page-side-fields) + 15px);
    width: 160px;
    // height: calc(160px / 1920 * 973);
    height: calc(160px * 0.52);
    z-index: 20000;
    border-radius: 12px;
    border: 2px solid var(--color-gold);
    background-size: cover;
}

.mini-map-marker {
    position: absolute;
    border: 2px solid var(--color-gold);
    background-color:  rgba($color-gold, 0.5);
    border-radius: 6px;
}

@include to(600px) {
    .mini-map {
        width: 135px;
        height: calc(135px / 1920 * 973);
    }
}