.social-link {
    position: relative;
    width: 64px;
    height: 64px;
    border: 1px solid var(--color-send);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .25s ease-out;
    --hover-element-bg: var(--color-white);
    @include to(600px){
        width: 58px;
        height: 58px;
    }
    svg {
        position: relative;
        z-index: 2;
        [fill] {
            fill: var(--color-send);
        }
        [stroke] {
            stroke: var(--color-send);
        }
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--hover-element-bg);
        // z-index: -1;
        transition: .2s ease-out;
        clip-path:  polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    [fill] {
        transition: fill .25s ease-out;
    }
    [stroke] {
        transition: stroke .25s ease-out;
    }
}

.desktop {
    .social-link:hover {
        // background-color: var(--color-send);
        background-color: transparent;
        &:after {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
        [fill] {
            fill: var(--color-black);
        }
        [stroke] {
            stroke: var(--color-black);
        }
    }
}