.front-screen.about-screen {
    height: 62.70833333333333vw;
    padding-top: 1px;
    @include to(1024px){
        height: 100vh;
        .front-screen__content {
            margin-top: 30px;
        }
    }
}

.gallery-switcher {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    &__prev-arrow {
        opacity: 0;
    }
    &__next-arrow {
        opacity: 0;
    }

    &[data-side='leftSide'] {
        .gallery-switcher__prev-arrow {
            opacity: 1;
        }
    }
    &[data-side='rightSide'] {
        .gallery-switcher__next-arrow {
            opacity: 1;
        }
    }
    tspan {
        letter-spacing: -0.5px;
    }
}