.inner-page-front-screen {
  background-color: var(--color-black);
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  @include sideBorders();
  padding-top: var(--header-h);
  padding-left: var(--page-side-fields);
  padding-right: var(--page-side-fields);

  &__content {
    @include row-flex();
    position: relative;
    z-index: 3;
    @include to(1024px){
      height: 100%;
    }
  }
  &__text {
    @include size(12);
    @include shift(0);
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    column-gap: 12px;
    position: relative;
    z-index: 3;
    @include from(1361px){
      button~button {
        margin-left: 20px;
      }
    }
    @include to(1024px){
      @include size(24);
      position: relative;
      z-index: 3;
      justify-content: center;
      padding-right: 42px;
      padding-left: 42px;
      button {
        flex-grow: 1;
        text-align: center;
        justify-content: center;
        max-width: 55%;
        // max-width: 308px;
      }
      button~button {
        margin-top: 16px;
      }
    }
    @media screen and (max-width:600px){
      padding-left: var(--page-side-fields);
      padding-right: var(--page-side-fields);
      button {
        max-width: 264px;
      }
    }
  }
  &__title {
    margin-bottom: 40px;
    @include to(1024px){
      text-align: center;
      margin-bottom: 16px;

    }
  }
  &__subtitle {
    margin-bottom: 20px;
    width: 100%;
    text-transform: uppercase;
    @include to(1024px){
      text-align: center;
      margin-bottom: 8px;
      @include text-style-auxiliary;
    }
  }
  &__description {
    margin-bottom: 40px;
    padding-right: 50%;
    @include to(1024px){
      padding-right: 0;
      margin-bottom: 32px;
      text-align: center;
    }
  }
  &__img {
    padding: 30px;
    @include size(12);
    @include shift(0);
    max-height: calc(100vh - var(--header-h));
    overflow: hidden; 
    @include from(1025px){
      position: relative;
      z-index: 3;
    }
    @include to(1024px){
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      // z-index: -1;
      margin-left: 0;
      padding: 0;
      max-height: 100%;
    }
    @include to(600px){
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
        pointer-events: none;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}


.about-screen2 {
  position: relative;
  background-color: var(--color-send);
  padding-left: var(--page-side-fields);
  padding-right: var(--page-side-fields);
  padding-top: var(--screen-offset);
  padding-bottom: var(--screen-offset);
  @include sideBorders();
  &__grid {
    display: flex;
    flex-wrap: wrap;
    &-item {
      width: 33%;
      padding: pxInVh(105) 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 1px solid rgba($color-gold, 0.5);
      @include to(1024px){
        width: 50%;
        padding: 47px 16px;
      }
      @media screen and (max-width:600px){
        width: 100%;
        padding: 24px 16px;
        margin-top: -1px;
      }
      &>:first-child {
        margin-bottom: 20px;
        @media screen and (max-width:600px){
          margin-bottom: 8px;
        }
      }
    }
    &-center-item {
      width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 30px 30px 0 30px;
      border: 1px solid rgba($color-gold, 0.5);
      @include to(1024px){
        width: 100%;
        order: -1;
      }
      @media screen and (max-width:600px){
        padding-left: 48px;
        padding-right: 48px;
        svg {
          width: 100%;height: auto;
        }
        
      }
      &-title {
        color: var(--color-graphite);
        text-align: center;
        font-family: $default-font2;
        font-size: 48px;
        font-size: pxWidthInVw(48);
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 10px;
        margin-top: 20px;
        @include to(1024px){
          @include text-style-tablet-h-3;
        }
        @media screen and (max-width:600px){
          margin-bottom: 16px;
        }
      }
    }
  }
  @include from(1025px){
    &__grid {
      &>:nth-child(1),
      &>:nth-child(4),
      &>:nth-child(7) {
        border-right: none;
        border-left: none;
      }
      &>:nth-child(3),
      &>:nth-child(6),
      &>:nth-child(9) {
        border-left: none;
      }

      &>:nth-child(1),
      &>:nth-child(2),
      &>:nth-child(3) {
        border-bottom: none;
      }
      &>:nth-child(7),
      &>:nth-child(8),
      &>:nth-child(9) {
        border-top: none;
      }
    }
  }
}