.documents-container {
    background-color: var(--color-green);
    padding-top: var(--header-h);
    padding-bottom: var(--screen-offset);
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    align-items: center;
    @include row-flex();
    .breadcrumbs {
        @include size(24);
        @include shift(0);
        text-align: center;
        margin-top: 70px;
        margin-bottom: 20px;
        justify-content: center;
        @include to(1024px){
            margin-top: 74px;
        }
        @include to(600px){
            margin-top: 36px;
            margin-bottom: 8px;
        }
    }
    &__title {
        @include size(24);  
        @include shift(0);
        text-align: center;
        margin-bottom: calc(var(--screen-offset) * 0.33);
        @include to(600px){
            margin-bottom: 16px;
        }
    }
    .doc-card {
        @include size(12);
        @include shift(0);
        &:nth-last-child(n+2) {
            margin-bottom: 20px;
        }
        @include to(1024px){
            @include size(24);
            @include shift(0);
        }
    }
    .news-filter-label {
        margin-bottom: calc(var(--screen-offset) * 0.66);
        @include to(1024px){
            margin-bottom: 48px;
        }
        @include to(600px){
            margin-bottom: 24px;
        }
    }
    
}