@keyframes fadeInTopAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.location-fade-in {
    animation: fadeInTopAnimation 0.5s ease-in-out;
}

.location-screen {
    position: relative;
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    padding-top: var(--screen-offset);
    padding-bottom: var(--screen-offset);
    @include sideBorders();
    background-color: var(--color-send);
    &__item~&__item {
        margin-top: 40px;
        @media screen and (max-width:600px){
            margin-top: 24px;
        }
    }
    &__item {
        padding: 30px;
        border-top: 1px solid rgba($color-gold, 0.5);
        border-bottom: 1px solid rgba($color-gold, 0.5);
        @include row-flex();
        margin-left: 0;
        margin-right: 0;
        @include to(1024px){
            padding: 16px;
        }
        @media screen and (max-width:600px){
            padding: 16px 0px;
        }
        &-title {
            text-align: center;
            font-family: $default-font3;
            font-size: pxWidthInVw(64);
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            @include size(24);
            @include shift(0);
            margin-bottom: 20px;
            @include to(1024px){
                font-size: 42px;
            }
            @media screen and (max-width:600px){
                font-size: 24px;
                margin-bottom: 8px;
            }
        }
        &-img {
            @include size(12);
            @include shift(0);
            @include to(1024px){
                @include size(24);
            }
            img {
                width: 100%;
                height: auto;
            }
        }
        &-text {
            @include size(12);
            @include shift(0);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            align-content: flex-start;
            @include to(1024px){
                @include size(24);
                margin-top: 16px;
            }
            p~p {
                margin-top: 20px;
            }
        }
        &-part~&-part {
            margin-top: 20px;
        }
        &-description {
            color: var(--color-black);
            @include text-style-txt;
            // margin-top: auto;
            margin-top: 20px;
        }
        &-part {
            border: 1px solid rgba($color-gold, 0.5);
            padding: 30px;
            display: flex;
            flex-wrap: wrap;
            @include to(1024px){
                padding: 16px;
            }
            @media screen and (max-width:600px){
                padding: 8px;
            }
            &:last-child {
                margin-bottom: auto;
            }
            &-title {
                width: 100%;
                @include text-style-auxiliary;
                color: var(--color-gold);
                margin-bottom: 20px;
                @include to(1024px){
                    margin-bottom: 8px;
                }
            }
            &-list {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                &-item {
                    padding: 18px 32px;
                    border: 1px solid rgba($color-gold, 0.5);
                    @include text-style-txt;
                    @include from(1025px){
                        font-size: 18px;

                    }
                    width: 120px;
                    text-align: center;
                    flex-shrink: 0;
                    @include from-to(1025px, 1360px){
                        width: 80px;
                        padding: 12px 16px;
                    }
                    @media screen and (max-width:600px){
                        width: 70px;
                        padding: 16px 12px;
                    }
                }
            }
        }
    }
}