.location-transport-container {
    @include row-flex();
    row-gap: 20px;;
    background-color: var(--color-green);
    padding-bottom: var(--section-v-offset);
    animation: fadeInTopAnimation 0.25s ease-in-out;
    @include to(600px){
        row-gap: 16px;
        justify-content: center;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 64px;
    }
    .location-card {
        @include size(12);
        @include shift(0);
        @include to(1140px){
            @include size(24);
            @include shift(0);
        }
        @include to(600px){
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }
}


.location-map-container {
    padding-bottom: var(--section-v-offset);
    background-color: var(--color-green);
    animation: fadeInTopAnimation 0.25s ease-in-out;
    @include to(1140px){
        padding-bottom: 100px;
    }
    #map {
        height: calc(100vh - var(--header-h));
        border: 1px solid white;
    }
}

@keyframes fadeInTopAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.location-fade-in {
    animation: fadeInTopAnimation 0.5s ease-in-out;
}