.mobile {
  .news-front-screen {
    .text-style-h-1 {
      text-align: center;
    }
  }
}

.news-container {
  // @include row-flex();
  align-items: flex-start;
  position: relative;
  background-color: var(--color-send);
  padding-top: var(--screen-offset);
  padding-bottom: var(--screen-offset);

  @include sideBorders();
  padding-left: calc(var(--page-side-fields) + 30px);
  padding-right: calc(var(--page-side-fields) + 30px);

  @include to(1024px){
    padding-left: calc(var(--page-side-fields) + 16px);
    padding-right: calc(var(--page-side-fields) + 16px);
  }
  &.loading {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-green);
      z-index: 4;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -30px;
      margin-left: -30px;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      border: 5px solid var(--color-graphite);
      border-top-color: #fff;
      animation: loading 2s linear infinite;
      z-index: 10;
    }
  }
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  & > [class*='text-style'] {
    @include size(24);
    @include shift(0);
    margin-bottom: 80px;
    text-align: center;
  }
  &__content {
    @include row-flex();
    row-gap: 20px;
    @media screen and (max-width:600px){
      row-gap: 8px;
    }
  }
  .news-card {
    @include size(12);
    @include shift(0);
    @include to(600px) {
      @include size(24);
    }
  }
}
.tablet,
.mobile {
  .news-container {
    & > [class*='text-style'] {
      margin-bottom: 60px;
    }
    .news-card {
      @include size(24);
      @include shift(0);
    }
    .news-card ~ .news-card {
      margin-top: 8px;
    }
    .news-card:nth-of-type(n + 3) {
      margin-top: 8px;
    }
  }
}

.news-filter-label {
  color: #f2eddb;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__text {
    border-radius: 100px;
    border: 1px solid rgba(242, 237, 219, 0.2);
    background: var(--color-green);
    padding: 8px 16px;
    position: relative;
    z-index: 2;
    &:empty {
      opacity: 0;
    }
  }
  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 100%;
    height: 1px;
    opacity: 0.2;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      #fff 52%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

.news-more-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-send);
  padding-top: 50px;
  padding-bottom: var(--screen-offset);
}
