.tabs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: none;
    &__tab~&__tab {
        @include from(601px){
            margin-left: 20px;
        }
        margin-left: 16px;
    }
    &__tab {
        background-color: var(--color-send);
        @include text-style-1920-nav;
        padding: 12px 40px;
        border-radius: 100px;
        cursor: pointer;
        transition: .25s ease-out;
        @include to(1024px){
            padding-left: 24px;
            padding-right: 24px;
        }
        &:hover,
        &.active {
            color: var(--color-white);
            background-color: var(--color-graphite);

        }
    }
    &__tab~&__tab {
        border-left: 1px solid rgba(0, 26, 88, 0.3);
    }
}

.mobile {
    .tabs {
        &__tab {
            font-size: 12px;
        }
    }
}
