.single-news-front-screen {
    background-color: var(--color-black);
    padding-top: calc(var(--header-h) + 80px);
    padding-bottom: 40px;
    padding-left: calc(var(--page-side-fields) + 30px);
    padding-right: calc(var(--page-side-fields) + 30px);
    @include sideBorders();
    align-items: center;
    justify-content: center;
    margin-bottom: -1px;
    @include to(1024px){
        padding-top: calc(var(--header-h) + 40px);
    }
    @media screen and (max-width:600px){
        padding-left: calc(var(--page-side-fields) + 8px);
        padding-right: calc(var(--page-side-fields) + 8px);
    }
    &__content {
        @include row-flex();
    }
    &__date {
        color: var(--color-gold);
        @include text-style-auxiliary;
        margin-bottom: 20px;
        @include size(24);
        @include shift(0);
        @include shift-padding(4);
        text-align: center
    }
    &__title {
        @include size(24);
        @include shift(0);
        
        color: var(--color-send);
        text-align: center;
        font-family: $default-font3;
        font-size: 64px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 40px;
       
        @include from(1025px){
            @include shift-padding(4);
        }
        @include to(1024px){
            @include text-style-tablet-h-3;
            margin-bottom: 24px;
        }
    }
    &__img {
        @include size(24);
        @include from(1024px){
            max-height: 80vh;
            object-fit: contain;
        }   
        @include from(1025px){
            @include shift-padding(4);
        }
        @include to(1024px){
            @include shift(0);
        }
    }
}

.single-news-container {
    background-color: var(--color-black);
    @include row-flex();
    @include shift-padding(4);
    @include to(1440px){
        @include shift-padding(2);
    }
    @include to(1024px){
        @include shift-padding(0);
        &>* {
            padding-left: 32px;
            padding-right: 32px;
        }
    }
    @media screen and (max-width:600px){
        &>* {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
    img {
        border-radius: 10px;
        margin-bottom: 40px;
        @include size(24);
        @include shift(0);
    }
    &__title {
        text-transform: uppercase;
        @include size(24);
        @include shift(0);
        margin-top: 20px;
        text-indent: 0;
        text-align: center;
        @include to(1024px){
            font-size: 32px;
            margin-top: 24px;
        }
        @include to(600px){
            font-size: 20px;
            margin-top: 0;
        }
    }
    &__date {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: auto;
        align-self: flex-start;
        border-radius: 100px;
        border: 1px solid var(--send, #F2EDDB);
        background: var(--green, #7F855D);
        padding: 8px 16px;
        margin-left: auto;
        margin-right: auto;
        color: var(--color-send);
        svg {
            margin-right: 10px;
            width: 24px;
            height: 24px;
            stroke: var(--color-send);
            fill: none
        }
    }
    &__text {
        @include size(24);
        @include shift(0);
        margin-top: 20px;
    }
    &__list {
        @include text-style-txt;
        color: var(--color-send);
        @include size(24);
        @include shift(0);
        margin-top: 20px;
        li {
            list-style-type: disc;
            @media screen and (max-width:600px){
                margin-left: 16px;
            }
        }
    }
    .button-30 {
        align-self: flex-start;
        margin-top: 20px;
    }
}

.other-news-container {
    background-color: var(--color-black);
    @include row-flex();
    padding-top: var(--screen-offset);
    padding-bottom: 0;
    margin-top: -2px;
    padding-left: calc(var(--page-side-fields) + 16px);
    padding-right: calc(var(--page-side-fields) + 16px);
    @include to(1024px){
        padding-bottom: var(--screen-offset);
        padding-left: calc(var(--page-side-fields) + 16px);
        padding-right: calc(var(--page-side-fields) + 16px);
        position: relative;
        padding-top: calc(var(--screen-offset) + 80px);
        &::before {
            content: '';
            position: absolute;
            left: 27px;
            width: calc(100% - 54px);
            height: 1px;
            top: var(--screen-offset);
            background-color: #7F855D;
        }
    }
    @include to(600px){
        padding-top: calc(var(--screen-offset) + 60px);
        row-gap: 0px;
        padding-bottom: 0;
        &:after {
            content: '';
            display: block;
            width: calc(100% + 16px);
            height: 1px;
            background-color:  rgba(192, 164, 111, 0.5);
            margin-top: var(--screen-offset);
            margin-left: -6px;
            margin-right: -6px;
        }
    }

    &__title {
        color: var(--color-send);
        text-align: center;
        font-family: $default-font3;
        font-size: pxWidthInVw(64);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        @include size(24);
        @include shift(0);
        margin-bottom: 40px;
        @include to(1024px){
            @include text-style-tablet-h-3;
        }
        @include to(600px){
            margin-bottom: 8px;
        }
    }
    .news-card {
        @include size(12);
        @include shift(0);
        @include to(1024px){
            @include size(24);
        }
    }
    @include to(1024px){
        .news-card~.news-card {
            margin-top: 16px;
        }
    }
    @include to(600px){
        .news-card~.news-card {
            margin-top: 8px;
        }
    }
}