.single-news-container {
    background-color: var(--color-green);
    @include row-flex();
    @include shift-padding(4);
    @include to(1440px){
        @include shift-padding(2);
    }
    @include to(600px){
        @include shift-padding(0);
    }
    img {
        border-radius: 10px;
        margin-bottom: 40px;
        @include size(24);
        @include shift(0);
    }
    &__title {
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: var(--color-send);
        text-transform: uppercase;
        @include size(24);
        @include shift(0);
        margin-top: 20px;
        @include to(1024px){
            font-size: 32px;
            margin-top: 24px;
        }
        @include to(600px){
            font-size: 20px;
        }
    }
    &__date {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: auto;
        align-self: flex-start;
        border-radius: 100px;
        border: 1px solid var(--send, #F2EDDB);
        background: var(--green, #7F855D);
        padding: 8px 16px;
        margin-left: auto;
        margin-right: auto;
        color: var(--color-send);
        svg {
            margin-right: 10px;
            width: 24px;
            height: 24px;
            stroke: var(--color-send);
            fill: none
        }
    }
    &__text {
        @include size(24);
        @include shift(0);
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        
        margin-top: 20px;
        color: var(--color-send);
        @include text-style-1920-txt;
    }
    &__list {
        @include text-style-1920-txt;
        color: var(--color-send);
        @include size(24);
        @include shift(0);
        margin-top: 20px;
        li {
            list-style-type: disc;
        }
    }
    .button-30 {
        align-self: flex-start;
        margin-top: 20px;
    }
}

.other-news-container {
    background-color: var(--color-green);
    @include row-flex();
    padding-top: var(--screen-offset);
    padding-bottom: calc(var(--screen-offset) * 2);
    margin-top: -2px;
    @include to(1024px){
        padding-bottom: var(--screen-offset);
    }
    @include to(600px){
        row-gap: 16px;
    }

    &__title {
        color: var(--color-send);
        text-align: center;
        font-family: $default-font2;
        font-size: 78px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 93.6px */
        @include size(24);
        @include shift(0);
        margin-bottom: calc(var(--screen-offset) * 0.66);
        @include to(1024px){
            font-size: 64px;
        }
        @include to(600px){
            font-size: 42px;
            margin-bottom: 8px;
        }
    }
    .news-card {
        @include size(6);
        @include shift(0);
        @include to(1120px){
            
            @include size(12);
            @include shift(0);
        }
        @include to(600px){
            @include size(24);
            @include shift(0);
        }
    }
}