.form-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: transparentize($color-black, 0.2);
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  &.active {
    opacity: 1;
    visibility: visible;
    overflow: hidden;
  }
  .button-colored {
    display: flex;
    justify-content: center;
    &:hover {
      background-color: transparentize($color-green, 0.3) !important;
    }
  }
}
.form {
  position: relative;
  margin-top: 2%;
  padding: 88px 50px;
  max-width: 1206px;
  max-height: 100%;
  width: 100%;
  background: $color-graphite;
  overflow-y: auto;
  z-index: 1002;
  opacity: 0;
  visibility: hidden;
  &-main {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
}
.form-user-info {
  width: 100%;
  display: grid;
  grid-template: repeat(2, 141px) / repeat(2, minmax(250px, 1fr));
  grid-auto-rows: 141px;
  gap: 20px;
  margin-bottom: 40px;
}
.field-inner {
  position: relative;
  width: 100%;
}
.form-field {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-send;

  &[data-field-social='data-field-social'] {
    height: 141px;
  }
}
.form-header {
  width: 100%;
  min-height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 100px;
  text-align: center;
  color: $color-send;
  border: 1px dashed $color-send;
}
.form-title {
  @extend .text-style-1920-h-1;
  @extend .front-screen__title;
}
.form-text {
  margin-top: 8px;
}
.form-close {
  position: absolute;
  top: 15px;
  right: 24px;
  // top: 20px;
  // right: 50px;
  max-width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1003;
  background-color: $color-send;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $color-green;
    .form-close__icon path {
      stroke: $color-send;
    }
  }
  .form-close__icon {
    path {
      transition: stroke 0.3s ease;
    }
  }
}
.input-title {
  @include text-style-1920-nav();
  color: $color-graphite;
}
.submit-btn,
.form-thanks-btn {
  margin-top: 40px;
  cursor: pointer;
  border-left: none;
  border-right: none;
  width: 360px;
  @include to(1440px) {
    width: 310px;
  }
}
.form-field-input--checkbox {
  display: flex;
  column-gap: 8px;
  position: relative;
  margin-bottom: 32px;
  .input-message {
    position: absolute;
    top: 100%;
    left: 0;
  }
  a {
    color: #0d6efd;
  }
  input {
    width: auto;
    cursor: pointer;
  }
  &-subtitle {
    color: var(--color-gray-body);
  }
}
.form-description {
  margin-bottom: 40px;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  border: 1px solid $color-send;
  .form-title {
    color: $color-white;
  }
  &__input {
    color: $color-send !important;
    border-bottom: 1px solid $color-send !important;
  }
}
.form-type-business__row {
  width: 100%;
  display: grid;
  grid-template: 120px / repeat(3, 1fr);
  &.business-subject {
    grid-template: 120px / repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 120px;
  }
  gap: 20px;
  li {
    input {
      display: none;
    }
    input:checked {
      & + label {
        color: $color-send;
        background-color: $color-graphite;
        border: 1px solid $color-green;
        .form-type__checked-item {
          opacity: 1;
        }
      }
    }
    label {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      @include text-style-1920-nav();
      background-color: $color-send;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: transparentize($color-send, 0.1);
      }
    }
  }
}
.form-type__checked-item {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: $color-green;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
[data-btn-submit] {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}
[data-animation='focus'] .input-message {
  color: var(--color-gray);
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 3;
  display: flex;
  transform: translate(0%, -50%);
  user-select: none;
  pointer-events: none;
  transition: all 0.16s cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.form-field__input {
  width: 100%;
  height: 35px;
  padding: 0 5px 0 0;
  @include text-style-1920-description();
  color: $color-graphite;
  cursor: pointer;
  background: transparent;
  border: none;
  border-bottom: 1px solid transparentize($color-graphite, 0.9);
  &::placeholder {
    transition: 0.25s ease-out;
  }
  &:focus::placeholder {
    opacity: 0;
  }

  &::placeholder {
    color: var(--color-gray-light);
    text-align: left;
  }
  &:focus + .form-field-message {
    opacity: 1;
  }
}
.mask-absolute {
  color: var(--color-gray);
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: 60px;
  width: 100%;
  padding-left: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  @include to(1440px) {
    height: 48px;
    padding-left: 16px;
  }
}
[data-input-message] {
  position: absolute;
  bottom: 1%;
  left: 20px;
  // background: $color-graphite;
}
[data-animation='focus'] .form-field__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
[data-animation='none'] .input-message {
  color: var(--color-gray);
  text-align: right;
  position: absolute;
  bottom: 100%;
  right: 0;
  left: auto;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  text-transform: none;
  transform: translate(0%, 100%);
}
[data-field-input][data-status='field--inactive']:not(#r) {
  .input-message {
    color: var(--color-gray);
  }
}
[data-field-input][data-status='field--active']:not(#r) {
  .input-message {
    color: var(--color-gray);
  }
}
[data-field-input][data-status='field--error']:not(#r) {
  color: #ea4041;

  -webkit-box-shadow: 0px 0px 15px 0px #ea4041;
  -moz-box-shadow: 0px 0px 15px 0px #ea4041;
  box-shadow: 0px 0px 15px 0px #ea4041;

  .input-message {
    color: green;
    position: absolute;
    transform: translateY(50%);
    font-weight: 700;
    font-size: 10px;
    transform: translateY(90%);
    font-weight: 700;
    font-size: 10px;
    line-height: 100%;
    bottom: 26px;
    right: 10px;
  }
}
[data-field-input][data-status='field--success']:not(#r) {
  border: 1px solid #96c480;
  -webkit-box-shadow: 0px 0px 15px 0px#96c480;
  -moz-box-shadow: 0px 0px 15px 0px #96c480;
  box-shadow: 0px 0px 15px 0px #96c480;
  .input-message {
    color: #96c480;
  }
}
.selected:not(#f) .input-message {
  top: 0;
  color: var(--color-gray);
  text-align: left;
}
.requaired-block {
  &-ico {
    width: 25px;
    height: 25px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
.requaired-block {
  &__ico {
    width: 25px;
    height: 25px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &__text {
    color: var(--color-gray);
    text-align: left;
    margin: 0px vw(18);
    white-space: nowrap;
  }
}
.form-field-message {
  position: absolute;
  top: 0;
  opacity: 0;
  color: var(--color-gray);
  text-align: left;
  transform: translateY(calc(-100% - 10px));
}
.requaired-block-ico--position {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}
.form-thanks-wrapper {
  opacity: 0;
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgba(10, 17, 27, 0.5);
  transition: opacity 0.5s ease-out, visibility 1ms linear 0.5s;
  &.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-out, visibility 1ms linear 0.5s;
  }
  .form-thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
    height: 40%;
    background: #fff;
  }
}
.form {
  .iti input {
    padding-right: 60px;
  }
}
// .tablet,
// .mobile {
//   .form-wrapper {
//     .form {
//       width: 100%;
//       padding-left: var(--page-side-fields);
//       padding-right: var(--page-side-fields);
//       flex-wrap: wrap;
//     }
//     .form-close {
//       top: 70px;
//     }
//     .form-title {
//       margin-bottom: 16px;
//     }
//   }
// }
.form-popup {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(#fff, 0.7);
  z-index: 101;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  .form-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    background: none;
    height: 100vh;
    width: 100%;
    position: static;
    transform: none;
    left: 50%;
    top: 50%;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    z-index: 1;
  }
}
.mobile {
  .form-description {
    font-size: 12px;
    padding-left: 16px;
    padding-right: 16px;
  }
  [data-btn-submit] {
    margin-top: 20px;
  }
}
.form-delimiter {
  height: 1px;
  width: 100%;
  background-image: linear-gradient(188deg, #ffffff00 0%, #ffffff 52%, #ffffff00 100%);
}
// .tablet,
// .mobile {
//   .form-delimiter {
//     margin-bottom: 40px;
//   }
// }
.form-subtitle {
  @extend .front-screen__subtitle;
  margin-bottom: 0 !important;
  @extend .text-style-1920-txt;
}
// .tablet,
// .mobile {
// }
.form-delimiter-big {
  width: 100%;
  height: 1px;
  background-color: rgba(#000, 0.1);
  margin-bottom: 40px;
}
// .tablet,
// .mobile {
//   .form-delimiter-big {
//     margin-bottom: 20px;
//   }
// }
body.active {
  overflow: hidden !important;
}
@media (max-width: 600px) {
  .form {
    padding: 74px 8px 8px !important;
    // padding: 44px 10px;
    width: 100%;
  }
  .form-type-business__row,
  .form-user-info {
    gap: 8px !important;
  }
  .form-type-business__row {
    &.business-subject {
      grid-template: repeat(2, 120px) / repeat(2, minmax(100px, 1fr));
    }
  }
  .form-user-info,
  .form-description {
    margin-bottom: 24px;
  }
  .form-description {
    gap: 8px !important;
  }
}
@media (max-width: 720px) {
  .form-user-info {
    grid-template: repeat(4, 120px) / 1fr;
  }
  .form {
    padding: 44px 25px;
  }
  .form-header {
    min-height: 191px;
    margin-bottom: 48px;
  }
  .form-type-business__row,
  .form-user-info {
    gap: 16px;
  }
}
@media (max-width: 1000px) {
  .form {
    padding-top: 74px;
  }
  .form-close {
    width: 42px;
    height: 42px;
  }
  .form-description {
    gap: 25px;
  }
}
