mixin form(attr)
	.form-wrapper(data-form-wrapper)
		.form-wrapper-succes-layer
			<svg width="65" height="64" viewBox="0 0 65 64" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M32.5 4C26.9621 4 21.5486 5.64217 16.944 8.71885C12.3395 11.7955 8.75064 16.1685 6.63139 21.2849C4.51213 26.4012 3.95764 32.0311 5.03802 37.4625C6.11841 42.894 8.78515 47.8831 12.701 51.799C16.6169 55.7149 21.606 58.3816 27.0375 59.462C32.469 60.5424 38.0988 59.9879 43.2151 57.8686C48.3315 55.7494 52.7045 52.1605 55.7812 47.556C58.8578 42.9514 60.5 37.5379 60.5 32C60.5 24.5739 57.55 17.452 52.299 12.201C47.048 6.94999 39.9261 4 32.5 4ZM28.5 43.18L18.5 33.18L21.68 30L28.5 36.82L43.32 22L46.512 25.172L28.5 43.18Z" fill="#41CD9D"/>
				</svg>
			.text-style-1920-accent-font.form-container__subtitle We will contact you in a few minutes
			.text-style-1920-h-2-thin-font thank you for your request
			button.button-30(data-form-wrapper-succes-layer-close)
				<span>Close</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18">
					<path stroke="#fff" d="M4.396.75h12.5m.5 0h-.5m0 0v12.5m0-12.5-16.5 16.5" class="Vector 2"></path>
				</svg>

		form(data-form=attr autocomplete="off").form
			.form-close(data-close-form)
				<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M25 25L1 1M1 25L25 1L1 25Z" stroke-width="2"/>
				</svg>
			.form-delimiter
			.form-subtitle fill out the form
			.form-title call back form
			.form-delimiter-big
			.form-field.form-field-input(data-field-input data-field-name data-status="field--inactive").first-offset
				.input-title.text-style-h-4.text-gray Ім’я:
				input(type='text' name="name" placeholder="Ім’я:").form-field__input
				.input-message(data-input-message)
			.form-field.disabled.form-field-input(data-field-input data-field-phone data-status="field--inactive")
				.input-title.text-style-h-4.text-gray Телефон:
				input(type='text' name="phone" placeholder="Телефон:").form-field__input
				.input-message(data-input-message)
			.form-field.disabled.form-field-input(data-field-input data-field-comment data-status="field--inactive")
				.input-title.text-style-h-4.text-gray Коментар:
				textarea(type='text' name="comment" placeholder="Введіть повідомлення").form-field__input.text-input
				.input-message(data-input-message)
			<button class="button-30 " type="submit" data-btn-submit> 
				<span data-btn-submit-text>Надіслати повідомлення</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18">
					<path stroke="#fff" d="M4.396.75h12.5m.5 0h-.5m0 0v12.5m0-12.5-16.5 16.5" class="Vector 2"></path>
				</svg>
			</button>
