.form-container.container
  .delimiter
  .text-style-1920-accent-font.form-container__subtitle Compilare il modulo
  .text-style-1920-h-2-thin-font modulo di richiamata
  .delimiter.delimiter-big
  +form('data-form')
div(class="container contacts "+contact_custom_class)
  .contacts__item
    .contacts__item-subtitle sales
    .contacts__item-title floriana
    .contacts__item-text +39 328 455 5915
    .contacts__item-text floriana@nr12.it
  .contacts__item
    .contacts__item-subtitle sales
    .contacts__item-title Philip
    .contacts__item-text +39 329 084 5440
    .contacts__item-text philip@nr12.it
  .contacts__item
    .contacts__item-subtitle office
    .contacts__item-title Kristina
    .contacts__item-text +39 328 229 2776
    .contacts__item-text info@nr12.it
  .contacts__text Real estate office: Via Georgia 2 (tower 2, suite 5), 07026 Olbia, Sassari (Sardinia) Italy
  a(href="https://instagram.com" target='_blank').contacts__link
    <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="72" height="72" rx="36" fill="#EEE9E3"/>
      <path d="M41.3333 24C45.0152 24 48 26.9848 48 30.6667V41.3333C48 45.0152 45.0152 48 41.3333 48H30.6667C26.9848 48 24 45.0152 24 41.3333V30.6667C24 26.9848 26.9848 24 30.6667 24H41.3333ZM36 30.6667C33.0545 30.6667 30.6667 33.0545 30.6667 36C30.6667 38.9455 33.0545 41.3333 36 41.3333C38.9455 41.3333 41.3333 38.9455 41.3333 36C41.3333 33.0545 38.9455 30.6667 36 30.6667ZM36 33.3333C37.4728 33.3333 38.6667 34.5272 38.6667 36C38.6667 37.4728 37.4728 38.6667 36 38.6667C34.5272 38.6667 33.3333 37.4728 33.3333 36C33.3333 34.5272 34.5272 33.3333 36 33.3333ZM42 28.6667C41.2636 28.6667 40.6667 29.2636 40.6667 30C40.6667 30.7364 41.2636 31.3333 42 31.3333C42.7364 31.3333 43.3333 30.7364 43.3333 30C43.3333 29.2636 42.7364 28.6667 42 28.6667Z" fill="black"/>
      </svg>
  a(href="https://nr12.it/", target="_blank", rel="noopener noreferrer").contacts__link
    +img('logo-1.png')
  button(data-modal-call).contacts__link
    <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="72" height="72" rx="36" fill="#EEE9E3"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M39.2961 22.485L46.272 29.604H39.2961V22.485ZM46.4811 31.604H38.2961C37.7438 31.604 37.2961 31.1563 37.2961 30.604V22.3535H27.3883C26.8988 22.3535 26.4252 22.5517 26.0728 22.9114C25.7197 23.2717 25.5178 23.7647 25.5178 24.2828V47.7175C25.5178 48.2356 25.7197 48.7286 26.0728 49.0889C26.4252 49.4486 26.8988 49.6468 27.3883 49.6468H44.6107C45.1001 49.6468 45.5737 49.4486 45.9261 49.0889C46.2792 48.7286 46.4811 48.2356 46.4811 47.7175V31.604ZM48.4811 30.6295V47.7175C48.4811 48.7531 48.0782 49.7503 47.3547 50.4887C46.6305 51.2278 45.6438 51.6468 44.6107 51.6468H27.3883C26.3551 51.6468 25.3685 51.2278 24.6443 50.4887C23.9208 49.7503 23.5178 48.7531 23.5178 47.7175V24.2828C23.5178 23.2472 23.9208 22.25 24.6443 21.5116C25.3685 20.7725 26.3551 20.3535 27.3883 20.3535H38.2961H39.5875C39.8562 20.3535 40.1137 20.4617 40.3018 20.6536L48.1954 28.7093C48.3785 28.8962 48.4811 29.1475 48.4811 29.4092V30.5785C48.4813 30.587 48.4814 30.5955 48.4814 30.604C48.4814 30.6125 48.4813 30.621 48.4811 30.6295ZM29.6414 36.7709C29.6414 36.2186 30.0891 35.7709 30.6414 35.7709H39.8267C40.379 35.7709 40.8267 36.2186 40.8267 36.7709C40.8267 37.3232 40.379 37.7709 39.8267 37.7709H30.6414C30.0891 37.7709 29.6414 37.3232 29.6414 36.7709ZM30.6414 43.4796C30.0891 43.4796 29.6414 43.9273 29.6414 44.4796C29.6414 45.0319 30.0891 45.4796 30.6414 45.4796H39.8267C40.379 45.4796 40.8267 45.0319 40.8267 44.4796C40.8267 43.9273 40.379 43.4796 39.8267 43.4796H30.6414Z" fill="black"/>
      </svg>


