-
    var header_links = [
        ['Головна', '/'],
        ['Про проєкт', 'about'],
        ['Орендарям', '#'],
        ['Магазини', '#'],
        ['Новини', 'news'],
        ['Як дістатися', '#'],
        ['Документи', 'documents'],
        ['Контакти', 'contacts'],
    ];

header(class="header "+header_class)
    a(href="/").header__logo
        include ./logo.pug

    .header__top
        .header__info-group
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="opacity-5">
                <path d="M12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22C6.477 22 2 17.523 2 12C2 6.477 6.477 2 12 2ZM12 4C9.87827 4 7.84344 4.84285 6.34315 6.34315C4.84285 7.84344 4 9.87827 4 12C4 14.1217 4.84285 16.1566 6.34315 17.6569C7.84344 19.1571 9.87827 20 12 20C14.1217 20 16.1566 19.1571 17.6569 17.6569C19.1571 16.1566 20 14.1217 20 12C20 9.87827 19.1571 7.84344 17.6569 6.34315C16.1566 4.84285 14.1217 4 12 4ZM12 6C12.2449 6.00003 12.4813 6.08996 12.6644 6.25272C12.8474 6.41547 12.9643 6.63975 12.993 6.883L13 7V11.586L15.707 14.293C15.8863 14.473 15.9905 14.7144 15.9982 14.9684C16.006 15.2223 15.9168 15.4697 15.7488 15.6603C15.5807 15.8508 15.3464 15.9703 15.0935 15.9944C14.8406 16.0185 14.588 15.9454 14.387 15.79L14.293 15.707L11.293 12.707C11.1376 12.5514 11.0378 12.349 11.009 12.131L11 12V7C11 6.73478 11.1054 6.48043 11.2929 6.29289C11.4804 6.10536 11.7348 6 12 6Z" fill="#28282A"/>
            </svg>
            .text-style-1920-nav.color-graphite.opacity-5  Щоденно з 10:00 до 22:00
        a(href="tel:+38 (050) 123 123 1").header__info-group.text-style-1920-nav.color-graphite.opacity-5
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.9993 16.4712V19.7831C23.0006 20.0906 22.9375 20.3949 22.814 20.6766C22.6906 20.9583 22.5096 21.2112 22.2826 21.419C22.0556 21.6269 21.7876 21.7851 21.4958 21.8836C21.2039 21.9821 20.8947 22.0187 20.5879 21.991C17.1841 21.6219 13.9145 20.4611 11.0418 18.6019C8.36914 16.9069 6.10319 14.6455 4.40487 11.9781C2.53545 9.09809 1.37207 5.81909 1.00898 2.40674C0.981336 2.10146 1.01769 1.79378 1.11572 1.50329C1.21376 1.2128 1.37132 0.94586 1.57839 0.719472C1.78546 0.493085 2.03749 0.312208 2.31843 0.188357C2.59938 0.0645062 2.90309 0.000395695 3.21023 0.000107032H6.52869C7.06551 -0.00516598 7.58594 0.184556 7.99297 0.533909C8.4 0.883262 8.66586 1.36841 8.74099 1.89892C8.88106 2.9588 9.14081 3.99946 9.5153 5.00106C9.66413 5.39619 9.69634 5.82562 9.60812 6.23847C9.51989 6.65131 9.31494 7.03026 9.01753 7.33042L7.61272 8.73245C9.18739 11.4963 11.4803 13.7847 14.2496 15.3562L15.6545 13.9542C15.9552 13.6574 16.3349 13.4528 16.7486 13.3648C17.1622 13.2767 17.5925 13.3089 17.9884 13.4574C18.992 13.8312 20.0348 14.0904 21.0967 14.2302C21.6341 14.3058 22.1248 14.576 22.4756 14.9892C22.8264 15.4024 23.0128 15.9298 22.9993 16.4712Z" fill="#28282A"/>
            </svg>
            span.color-graphite +38 (050) 123 123 1
        .header__top-nav
            a(href="https://maps.app.goo.gl/guxcbAVYKTSQ4eJXA" target='_blank').header-button-light
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 1.5C10.0109 1.5 8.10322 2.29018 6.6967 3.6967C5.29018 5.10322 4.5 7.01088 4.5 9C4.5 10.716 5.475 12.525 6.5895 14.058C7.725 15.6225 9.105 17.037 10.1085 17.988C10.6177 18.4752 11.2953 18.7472 12 18.7472C12.7047 18.7472 13.3823 18.4752 13.8915 17.988C14.895 17.037 16.275 15.6225 17.4105 14.058C18.5235 12.525 19.5 10.716 19.5 9C19.5 8.01509 19.306 7.03982 18.9291 6.12987C18.5522 5.21993 17.9997 4.39314 17.3033 3.6967C16.6069 3.00026 15.7801 2.44781 14.8701 2.0709C13.9602 1.69399 12.9849 1.5 12 1.5ZM14.25 9C14.25 9.59674 14.0129 10.169 13.591 10.591C13.169 11.0129 12.5967 11.25 12 11.25C11.4033 11.25 10.831 11.0129 10.409 10.591C9.98705 10.169 9.75 9.59674 9.75 9C9.75 8.40326 9.98705 7.83097 10.409 7.40901C10.831 6.98705 11.4033 6.75 12 6.75C12.5967 6.75 13.169 6.98705 13.591 7.40901C14.0129 7.83097 14.25 8.40326 14.25 9ZM17.9175 15.8625C17.568 16.2975 17.2095 16.7115 16.857 17.103C17.112 17.175 17.352 17.253 17.577 17.334C18.276 17.589 18.789 17.8725 19.113 18.1515C19.4385 18.432 19.5 18.636 19.5 18.7515C19.5 18.864 19.44 19.068 19.113 19.3485C18.789 19.6275 18.276 19.9125 17.577 20.166C16.1865 20.673 14.214 21 12 21C9.786 21 7.815 20.673 6.423 20.166C5.724 19.9125 5.211 19.6275 4.887 19.3485C4.5615 19.068 4.5 18.864 4.5 18.75C4.5 18.6375 4.56 18.432 4.887 18.15C5.211 17.8725 5.724 17.5875 6.423 17.334C6.648 17.2515 6.888 17.175 7.143 17.103C6.7905 16.713 6.432 16.296 6.0825 15.8625C6.02483 15.8825 5.96733 15.903 5.91 15.924C5.115 16.2135 4.4205 16.575 3.909 17.013C3.4005 17.451 3 18.0345 3 18.75C3 19.4655 3.4005 20.049 3.909 20.487C4.419 20.9265 5.1165 21.288 5.91 21.576C7.5045 22.1565 9.6585 22.5 12 22.5C14.3415 22.5 16.4955 22.155 18.09 21.576C18.885 21.288 19.5795 20.9265 20.091 20.487C20.5995 20.049 21 19.4655 21 18.75C21 18.0345 20.5995 17.451 20.091 17.013C19.581 16.575 18.8835 16.212 18.09 15.924C18.0327 15.9035 17.9752 15.8835 17.9175 15.864" fill="black"/>
                </svg>
                span Як дістатися
            <div class="sl-nav">
                <ul>
                    <li>
                        <b>Укр</b> 
                        <svg class="fa fa-angle-down" a width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 10L12 15L17 10H7Z" fill="#28282A"/>
                        </svg>

                        <div class="triangle"></div>
                        <ul>
                            <li><a class="active" href="#">Укр</a></li>
                            <li><a  href="#">En</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
    .header__delimiter
    .header__bottom
        .header__bottom-links(data-lenis-prevent)
            each val in header_links
                a(href=val[1] data-title=val[0]).text-style-1920-nav.color-graphite #{val[0]}
        .header__bottom-nav
            button(type="button" data-form="data-form").header-button-dark
                span Подати заявку
            a(target='_blank' href="https://instagram.com").social-link
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.75 3C19.5114 3 21.75 5.23858 21.75 8V16C21.75 18.7614 19.5114 21 16.75 21H8.75C5.98858 21 3.75 18.7614 3.75 16L3.75 8C3.75 5.23858 5.98858 3 8.75 3L16.75 3ZM12.75 8C10.5409 8 8.75 9.79086 8.75 12C8.75 14.2091 10.5409 16 12.75 16C14.9591 16 16.75 14.2091 16.75 12C16.75 9.79086 14.9591 8 12.75 8ZM12.75 10C13.8546 10 14.75 10.8954 14.75 12C14.75 13.1046 13.8546 14 12.75 14C11.6454 14 10.75 13.1046 10.75 12C10.75 10.8954 11.6454 10 12.75 10ZM17.25 6.5C16.6977 6.5 16.25 6.94772 16.25 7.5C16.25 8.05228 16.6977 8.5 17.25 8.5C17.8023 8.5 18.25 8.05228 18.25 7.5C18.25 6.94772 17.8023 6.5 17.25 6.5Z" fill="#28282A"/>
                    </svg>
            a(target='_blank' href="https://facebook.com").social-link
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.75 21.8883C18.5613 21.1645 22.25 17.013 22.25 12C22.25 6.47715 17.7728 2 12.25 2C6.72715 2 2.25 6.47715 2.25 12C2.25 17.013 5.93874 21.1645 10.75 21.8883L10.75 15H9.25C8.42157 15 7.75 14.3284 7.75 13.5C7.75 12.6716 8.42157 12 9.25 12H10.75V10C10.75 8.067 12.317 6.5 14.25 6.5H14.75C15.5784 6.5 16.25 7.17157 16.25 8C16.25 8.82843 15.5784 9.5 14.75 9.5H14.25C13.9739 9.5 13.75 9.72386 13.75 10V12H15.25C16.0784 12 16.75 12.6716 16.75 13.5C16.75 14.3284 16.0784 15 15.25 15H13.75L13.75 21.8883Z" fill="#28282A"/>
                    </svg>

.header-not-desktop 
    a(href="/").header-not-desktop__logo
        include ./logo.pug
    <svg class="header-not-desktop__callback"  width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.5" y="0.5" width="53" height="53" rx="26.5" stroke="#28282A"/>
        <path d="M37.9993 31.4712V34.7831C38.0006 35.0906 37.9375 35.3949 37.814 35.6766C37.6906 35.9583 37.5096 36.2112 37.2826 36.419C37.0556 36.6269 36.7876 36.7851 36.4958 36.8836C36.2039 36.9821 35.8947 37.0187 35.5879 36.991C32.1841 36.6219 28.9145 35.4611 26.0418 33.6019C23.3691 31.9069 21.1032 29.6455 19.4049 26.9781C17.5354 24.0981 16.3721 20.8191 16.009 17.4067C15.9813 17.1015 16.0177 16.7938 16.1157 16.5033C16.2138 16.2128 16.3713 15.9459 16.5784 15.7195C16.7855 15.4931 17.0375 15.3122 17.3184 15.1884C17.5994 15.0645 17.9031 15.0004 18.2102 15.0001H21.5287C22.0655 14.9948 22.5859 15.1846 22.993 15.5339C23.4 15.8833 23.6659 16.3684 23.741 16.8989C23.8811 17.9588 24.1408 18.9995 24.5153 20.0011C24.6641 20.3962 24.6963 20.8256 24.6081 21.2385C24.5199 21.6513 24.3149 22.0303 24.0175 22.3304L22.6127 23.7324C24.1874 26.4963 26.4803 28.7847 29.2496 30.3562L30.6545 28.9542C30.9552 28.6574 31.3349 28.4528 31.7486 28.3648C32.1622 28.2767 32.5925 28.3089 32.9884 28.4574C33.992 28.8312 35.0348 29.0904 36.0967 29.2302C36.6341 29.3058 37.1248 29.576 37.4756 29.9892C37.8264 30.4024 38.0128 30.9298 37.9993 31.4712Z" fill="#28282A"/>
    </svg>
    button.header-button-dark(type="button" data-form="data-form") 
        span Подати заявку
    a(href="#" target='_blank').header-button-light
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 1.5C10.0109 1.5 8.10322 2.29018 6.6967 3.6967C5.29018 5.10322 4.5 7.01088 4.5 9C4.5 10.716 5.475 12.525 6.5895 14.058C7.725 15.6225 9.105 17.037 10.1085 17.988C10.6177 18.4752 11.2953 18.7472 12 18.7472C12.7047 18.7472 13.3823 18.4752 13.8915 17.988C14.895 17.037 16.275 15.6225 17.4105 14.058C18.5235 12.525 19.5 10.716 19.5 9C19.5 8.01509 19.306 7.03982 18.9291 6.12987C18.5522 5.21993 17.9997 4.39314 17.3033 3.6967C16.6069 3.00026 15.7801 2.44781 14.8701 2.0709C13.9602 1.69399 12.9849 1.5 12 1.5ZM14.25 9C14.25 9.59674 14.0129 10.169 13.591 10.591C13.169 11.0129 12.5967 11.25 12 11.25C11.4033 11.25 10.831 11.0129 10.409 10.591C9.98705 10.169 9.75 9.59674 9.75 9C9.75 8.40326 9.98705 7.83097 10.409 7.40901C10.831 6.98705 11.4033 6.75 12 6.75C12.5967 6.75 13.169 6.98705 13.591 7.40901C14.0129 7.83097 14.25 8.40326 14.25 9ZM17.9175 15.8625C17.568 16.2975 17.2095 16.7115 16.857 17.103C17.112 17.175 17.352 17.253 17.577 17.334C18.276 17.589 18.789 17.8725 19.113 18.1515C19.4385 18.432 19.5 18.636 19.5 18.7515C19.5 18.864 19.44 19.068 19.113 19.3485C18.789 19.6275 18.276 19.9125 17.577 20.166C16.1865 20.673 14.214 21 12 21C9.786 21 7.815 20.673 6.423 20.166C5.724 19.9125 5.211 19.6275 4.887 19.3485C4.5615 19.068 4.5 18.864 4.5 18.75C4.5 18.6375 4.56 18.432 4.887 18.15C5.211 17.8725 5.724 17.5875 6.423 17.334C6.648 17.2515 6.888 17.175 7.143 17.103C6.7905 16.713 6.432 16.296 6.0825 15.8625C6.02483 15.8825 5.96733 15.903 5.91 15.924C5.115 16.2135 4.4205 16.575 3.909 17.013C3.4005 17.451 3 18.0345 3 18.75C3 19.4655 3.4005 20.049 3.909 20.487C4.419 20.9265 5.1165 21.288 5.91 21.576C7.5045 22.1565 9.6585 22.5 12 22.5C14.3415 22.5 16.4955 22.155 18.09 21.576C18.885 21.288 19.5795 20.9265 20.091 20.487C20.5995 20.049 21 19.4655 21 18.75C21 18.0345 20.5995 17.451 20.091 17.013C19.581 16.575 18.8835 16.212 18.09 15.924C18.0327 15.9035 17.9752 15.8835 17.9175 15.864" fill="black"/>
        </svg>
        span Як дістатися
    <svg data-menu-call class="header-not-desktop__menu" width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="54" height="54" rx="27" fill="#28282A"/>
        <path d="M18 19H36V21H18V19ZM24 26H36V28H24V26ZM18 33H36V35H18V33Z" fill="white"/>
    </svg>


