extends ../layout/main
block variable
  -
    var title_page = 'Контакти'
    var id_page = 'id-page-contacts'
    var class_page = 'class-page-contacts'
block meta
    title= title_page
    meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
    script(defer src='./assets/scripts/vendors.bundle.js')
    script(defer src='./assets/scripts/contacts.bundle.js')

block content
    .container.contacts-container
        include ../includes/breadcrumbs.pug
        .text-style-1920-h-1.text-uppercase.color-send.contacts-container__title Контакти
        .news-filter-label 
            .news-filter-label__text
            .news-filter-label__line
    .container.location-map-container(data-location-container="auto")
        #map
            .map
block footer
    include ../includes/footer.pug

block header
    include ../includes/header.pug