
extends ../layout/main
block variable
  -
    var title_page = 'Документи'
    var id_page = 'id-page-documents'
    var class_page = 'class-page-documents'
    var breadcrumbsSubitem = [
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/documents.js')
block content
  .container.documents-container
    include ../includes/breadcrumbs.pug
    .text-style-1920-h-1.text-uppercase.color-send.documents-container__title Документи
    .news-filter-label 
      .news-filter-label__text
      .news-filter-label__line
    .doc-card 
      .doc-card__img-wrapper
        .doc-card__img 
          img(src="./assets/images/docs/example.jpg")
      .doc-card__title Політика конфіденційності
      .doc-card__text Документи, які підтверджують якість та безпеку товарів, що продаються на ринку Вівдажний. Це може включати сертифікати відповідності стандартам безпеки, екологічним сертифікатам та іншим документам, які засвідчують якість товарів.
      a(href="/assets/documents/privacy-policy.pdf" target="_blank").doc-card__link 
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.332 2.667C5.15767 2.6663 4.98491 2.69997 4.82359 2.76607C4.66228 2.83218 4.51557 2.92943 4.39187 3.05227C4.26816 3.17511 4.16988 3.32113 4.10264 3.48197C4.0354 3.64282 4.00052 3.81534 4 3.98967V28.011C4.00279 28.3612 4.14322 28.6962 4.39096 28.9437C4.63869 29.1911 4.97384 29.3312 5.324 29.3337H26.676C26.8512 29.3324 27.0245 29.2967 27.1859 29.2285C27.3472 29.1603 27.4936 29.0609 27.6166 28.9361C27.7395 28.8113 27.8367 28.6634 27.9025 28.501C27.9683 28.3386 28.0014 28.1649 28 27.9897V9.33367L21.3333 2.667H5.332ZM14 10.0003H16.6667C16.6667 13.3203 19.5253 16.8803 23.088 18.0683L22.4787 20.6537C18.2973 20.0563 13.976 21.8403 10.0733 24.443L8.5 22.2923C9.948 21.1337 11.3373 19.1683 12.3667 16.871C13.3933 14.583 14 12.103 14 10.0003ZM14.8 17.963C15.156 17.167 15.472 16.3417 15.7387 15.5057C16.3752 16.4781 17.1403 17.3598 18.0133 18.127C16.704 18.3617 15.4227 18.747 14.18 19.2377C14.4 18.819 14.6067 18.3937 14.8 17.963Z" fill="#F2EDDB"/>
        </svg>
        span Переглянути документ
    .doc-card 
      .doc-card__img-wrapper
        .doc-card__img 
          img(src="./assets/images/docs/example.jpg")
      .doc-card__title Політика конфіденційності
      .doc-card__text Документи, які підтверджують якість та безпеку товарів, що продаються на ринку Вівдажний. Це може включати сертифікати відповідності стандартам безпеки, екологічним сертифікатам та іншим документам, які засвідчують якість товарів.
      a(href="/assets/documents/privacy-policy.pdf" target="_blank").doc-card__link 
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.332 2.667C5.15767 2.6663 4.98491 2.69997 4.82359 2.76607C4.66228 2.83218 4.51557 2.92943 4.39187 3.05227C4.26816 3.17511 4.16988 3.32113 4.10264 3.48197C4.0354 3.64282 4.00052 3.81534 4 3.98967V28.011C4.00279 28.3612 4.14322 28.6962 4.39096 28.9437C4.63869 29.1911 4.97384 29.3312 5.324 29.3337H26.676C26.8512 29.3324 27.0245 29.2967 27.1859 29.2285C27.3472 29.1603 27.4936 29.0609 27.6166 28.9361C27.7395 28.8113 27.8367 28.6634 27.9025 28.501C27.9683 28.3386 28.0014 28.1649 28 27.9897V9.33367L21.3333 2.667H5.332ZM14 10.0003H16.6667C16.6667 13.3203 19.5253 16.8803 23.088 18.0683L22.4787 20.6537C18.2973 20.0563 13.976 21.8403 10.0733 24.443L8.5 22.2923C9.948 21.1337 11.3373 19.1683 12.3667 16.871C13.3933 14.583 14 12.103 14 10.0003ZM14.8 17.963C15.156 17.167 15.472 16.3417 15.7387 15.5057C16.3752 16.4781 17.1403 17.3598 18.0133 18.127C16.704 18.3617 15.4227 18.747 14.18 19.2377C14.4 18.819 14.6067 18.3937 14.8 17.963Z" fill="#F2EDDB"/>
        </svg>
        span Переглянути документ
    .doc-card 
      .doc-card__img-wrapper
        .doc-card__img 
          img(src="./assets/images/docs/example.jpg")
      .doc-card__title Політика конфіденційності
      .doc-card__text Документи, які підтверджують якість та безпеку товарів, що продаються на ринку Вівдажний. Це може включати сертифікати відповідності стандартам безпеки, екологічним сертифікатам та іншим документам, які засвідчують якість товарів.
      a(href="/assets/documents/privacy-policy.pdf" target="_blank").doc-card__link 
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.332 2.667C5.15767 2.6663 4.98491 2.69997 4.82359 2.76607C4.66228 2.83218 4.51557 2.92943 4.39187 3.05227C4.26816 3.17511 4.16988 3.32113 4.10264 3.48197C4.0354 3.64282 4.00052 3.81534 4 3.98967V28.011C4.00279 28.3612 4.14322 28.6962 4.39096 28.9437C4.63869 29.1911 4.97384 29.3312 5.324 29.3337H26.676C26.8512 29.3324 27.0245 29.2967 27.1859 29.2285C27.3472 29.1603 27.4936 29.0609 27.6166 28.9361C27.7395 28.8113 27.8367 28.6634 27.9025 28.501C27.9683 28.3386 28.0014 28.1649 28 27.9897V9.33367L21.3333 2.667H5.332ZM14 10.0003H16.6667C16.6667 13.3203 19.5253 16.8803 23.088 18.0683L22.4787 20.6537C18.2973 20.0563 13.976 21.8403 10.0733 24.443L8.5 22.2923C9.948 21.1337 11.3373 19.1683 12.3667 16.871C13.3933 14.583 14 12.103 14 10.0003ZM14.8 17.963C15.156 17.167 15.472 16.3417 15.7387 15.5057C16.3752 16.4781 17.1403 17.3598 18.0133 18.127C16.704 18.3617 15.4227 18.747 14.18 19.2377C14.4 18.819 14.6067 18.3937 14.8 17.963Z" fill="#F2EDDB"/>
        </svg>
        span Переглянути документ
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
