
extends ../layout/main
block variable
  -
    var title_page = 'Гарна новина'
    var id_page = 'id-page-single-news'
    var class_page = 'class-page-single-news'
    var breadcrumbsSubitem = [
      {
        label: 'Новини',
        link: '/news'
      }
    ];
    var news = [
      { title: 'Ексклюзивні Знижки на Центральному Ринку Ірпінь', text: 'Завітайте до нашого ринку та насолоджуйтеся ексклюзивними знижками на найпопулярніші товари. Ваші улюблені покупки стали ще доступнішими!', img: 'home/news/1.jpg' },
      { title: 'Ексклюзивні Знижки на Центральному Ринку Ірпінь', text: 'Завітайте до нашого ринку та насолоджуйтеся ексклюзивними знижками на найпопулярніші товари. Ваші улюблені покупки стали ще доступнішими!', img: 'home/news/2.jpg' }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/single-news.js')
block content
  .container.news-front-screen
    include ../includes/breadcrumbs.pug
    a(href="/news").news-front-screen__back-button
      <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="80" width="80" height="80" rx="40" transform="rotate(90 80 0)" fill="#28282A"/>
        <path d="M34.8214 26.5L25.5 36.0294M25.5 36.0294L34.8214 45.5588M25.5 36.0294C31.0238 36.0294 43.2452 36.0294 47.9405 36.0294C53.8095 36.0294 54.5 42.0294 54.5 43.4412C54.5 44.5706 54.5 49.6176 54.5 53.5" stroke="#F2EDDB" stroke-width="2" stroke-linecap="round"/>
      </svg>

    .text-style-h-1.text-new-blue.text-uppercase.news-front-screen__title.news-front-screen__title--small Додатково -5% для військових
    .news-filter-label 
      .news-filter-label__text
      .news-filter-label__line
  .container.single-news-container
    .single-news-container__date
      +svg('calendar')
      span 24.02.2023
    .single-news-container__title Подяка за службу: знижка від житлового комплексу для військовослужбовців.
    .single-news-container__text Військовослужбовці заслуговують на нашу подяку та підтримку, тому ми раді повідомити про нашу спеціальну пропозицію. Відтепер у ЖК "Героїв" діє знижка в розмірі 5% для всіх військових.
    ul.single-news-container__list
      li Комфортне житло в новобудові зі зручним розташуванням
      li Можливість придбання квартири в розстрочку без відсотків
      li Безкоштовний доступ до фітнес-центру та інших інфраструктурних об'єктів ЖК "Щасливий"
  .container.other-news-container
    .other-news-container__title Останні новини та акції
    each val in news
      a(href="/single-news").news-card
        .news-card__img
          +img(val['img'])
        .news-card__title Ексклюзивні Знижки на Центральному Ринку Ірпінь
        .news-card__text Завітайте до нашого ринку та насолоджуйтеся ексклюзивними знижками на найпопулярніші товари. Ваші улюблені покупки стали ще доступнішими!

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
