$default-font: 'Manrope', sans-serif;
$default-font2: 'Cormorant Infant', sans-serif;
$default-font3: 'Cormorant Unicase', sans-serif;

:root {
  --color-white: #ffffff;
	--color-send: #f3eae1;
	--color-graphite: #28282a;
	--color-black: #0e0e0d;
	--color-gold: #c0a46f;
  --color-green: #1F3930;
  --screen-offset: 150px;
}

.color-white {
  color: var(--color-white);
}

.color-send {
  color: var(--color-send);
}

.color-graphite {
  color: var(--color-graphite);
}

.color-black {
  color: var(--color-black);
}

.color-gold {
  color: var(--color-gold);
}


$color-white: #ffffff;
$color-send: #f3eae1;
$color-graphite: #28282a;
$color-black: #0e0e0d;
$color-gold: #c0a46f;
$color-green: #1F3930;

@mixin text-style-tablet-h-1() {
	font-size: 84px;
	font-family: Cormorant Infant;
	font-weight: 500;
	font-style: normal;
	line-height: 120%;
	text-decoration: none;
	text-transform: uppercase;
}
@mixin text-style-tablet-h-3() {
	font-size: 42px;
	font-family: Cormorant Unicase;
	font-weight: 500;
	font-style: normal;
	line-height: 120%;
	text-decoration: none;
	text-transform: uppercase;
  text-indent: 0;
  @media screen and (max-width:600px){
    font-size: 24px;
  }
}
@mixin text-style-tablet-txt() {
	font-size: 16px;
	font-family: Manrope;
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
}
@mixin text-style-tablet-h-4() {
	font-size: 28px;
	font-family: Cormorant Infant;
	font-weight: 600;
	font-style: normal;
	line-height: 120%;
	text-decoration: none;
	text-transform: uppercase;
}
@mixin text-style-tablet-h-2() {
	font-size: 64px;
	font-family: Cormorant Infant;
	font-weight: 500;
	font-style: normal;
	line-height: 120%;
	text-decoration: none;
	text-transform: uppercase;
}

@mixin text-style-h-1() {
	font-size: 160px;
  font-size: Min(160px, pxWidthInVw(160));
	font-family: "Cormorant Infant";
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
	text-transform: uppercase;
  line-height: 100%;
  @media screen and (max-width:1024px){
    @include text-style-tablet-h-1;
  }
  @media screen and (max-width:600px){
    font-size: 42px;
  }
}
@mixin text-style-nav() {
	font-size: pxWidthInVw(16);
  font-size: Min(16px, pxWidthInVw(16));
	font-family: "Manrope";
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
  line-height: 100%;
  @media screen and (max-width:1240px){
    font-size: 12px;
  }
  @media screen and (max-width:1024px){
    font-size: 16px;
    line-height: 125%;
  }
}
@mixin text-style-btn() {
	font-size: Min(18px, pxWidthInVw(16));
	font-family: "Manrope";
	font-weight: 400;
	font-style: normal;
	letter-spacing: 1.4px;
	text-decoration: none;
	text-transform: uppercase;
  line-height: 100%;
  @media screen and (max-width:1024px){
    font-size: 18px;
  }
  @media screen and (max-width:600px){
    font-size: 14px;
  }
}
@mixin text-style-auxiliary() {
	font-size: 18px;
  font-size: pxWidthInVw(18);
  font-size: Min(18px, pxWidthInVw(18));
	font-family: "Manrope";
	font-weight: 500;
	font-style: normal;
	letter-spacing: 1.4px;
	text-decoration: none;
	text-transform: uppercase;
  line-height: 150%;
  @media screen and (max-width:1024px){
    font-size: 18px;
  }
  @media screen and (max-width:600px){
    font-size: 14px;
  }
}
@mixin text-style-h-3() {
	font-size: 64px;
  font-size: pxWidthInVw(64);
  font-size: Min(64px, pxWidthInVw(64));
	font-family: "Cormorant Unicase";
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
	text-transform: uppercase;
	text-indent: 420px;
  line-height: 100%;
}
@mixin text-style-h-4() {
	font-size: 32px;
  font-size: pxWidthInVw(32);
  font-size: Min(32px, pxWidthInVw(32));
	font-family: "Cormorant Infant";
	font-weight: 600;
	font-style: normal;
	text-decoration: none;
	text-transform: uppercase;
  line-height: 100%;
  @media screen and (max-width:1024px){
    @include text-style-tablet-h-4();
  }
}
@mixin text-style-txt() {
	font-size: 18px;
  font-size: pxWidthInVw(18);
  font-size: Min(18px, pxWidthInVw(18));
	font-family: "Manrope";
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
  line-height: 125%;
  @media screen and (max-width:1024px){
    @include text-style-tablet-txt();
  }
  @media screen and (max-width:600px){
    font-size: 14px;
  }
}
@mixin text-style-txt-letter-sp() {
	font-size: 18px;
	font-family: "Manrope";
	font-weight: 500;
	font-style: normal;
	letter-spacing: 1.4px;
	text-decoration: none;
	text-transform: none;
  line-height: 100%;
}
@mixin text-style-h-2() {
	font-size: 100px;
  font-size: pxWidthInVw(100);
  font-size: Min(100px, pxWidthInVw(100));
	font-family: "Cormorant Infant";
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
	text-transform: uppercase;
  line-height: 100%;
  @media screen and (max-width:1024px){
    @include text-style-tablet-h-2;
  }
  @media screen and (max-width:600px){
    font-size: 32px;
  }
}

.text-style-h-1 { 
  @include text-style-h-1();
}
.text-style-nav { 
  @include text-style-nav();
}
.text-style-btn { 
  @include text-style-btn();
}
.text-style-auxiliary { 
  @include text-style-auxiliary();
}
.text-style-h-3 { 
  @include text-style-h-3();
  @media screen and (max-width:1024px){
    @include text-style-tablet-h-3();
  }
}
.text-style-h-4 { 
  @include text-style-h-4();
  @media screen and (max-width:1024px){
    @include text-style-tablet-h-4();
  }
  @media screen and (max-width:600px){
    font-size: 20px;
  }
}
.text-style-txt { 
  @include text-style-txt();
}
.text-style-txt-letter-sp { 
  @include text-style-txt-letter-sp();
}
.text-style-h-2 { 
  @include text-style-h-2();
}

:root {
  --in: cubic-bezier(0.13, 0.81, 0.23, 0.96);
  --header-h: 118px;
  --logo-w: 155px;
  --sliceFigure: 239px;
  --sliceFigure-big: 541px;

  --page-side-fields: 60px;
  --section-v-offset: 150px;
  --button-color: #001a58;
}

@media screen and (max-width: 1440px) {
  :root {
    --header-h: 110px;
    --logo-w: 120px;
    --sliceFigure-big: 362px;
    --screen-offset: 100px;
    --page-side-fields: 30px;
  }
}

@media screen and (max-width: 1240px) {
  :root {
    --header-h: 154px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --header-h: 104px;
    --logo-w: 90px;
    --sliceFigure-big: 44px;
    --page-side-fields: 16px;
    --screen-offset: 80px;
  }
}
@media screen and (max-width: 600px) {
  :root {
    --header-h: 66px;
    --screen-offset: 60px;
    --page-side-fields: 8px;
  }
}

@media screen and (max-width: 400px) {
  :root {
  }
}


:root {
  --color-black: rgba(0, 0, 0, 1);
  --color-blue: rgba(35, 43, 62, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-new-blue: rgba(0, 26, 88, 1);
  --color-light-blue: rgba(77, 95, 139, 1);
  --color-gray-bg: #e6ecf2;
}

.ios {
  overscroll-behavior-y: none;
  body {
    overscroll-behavior-y: none;
  }
}
