.footer {
  padding-left: calc(30px + var(--page-side-fields));
  padding-right: calc(30px + var(--page-side-fields));
  background-color: var(--color-black);
  // @include row-flex();
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  position: relative;
  margin-top: -1px;
  @media screen and (max-width:1024px){
    padding-left: calc(16px + var(--page-side-fields));
    padding-right: calc(16px + var(--page-side-fields));
  }
  @include to(600px) {
    padding-top: 32px;
    padding-left: calc(var(--page-side-fields) + 8px);
    padding-right: calc(var(--page-side-fields) + 8px);
    max-width: 100%;
    overflow: hidden;
    // margin-left: 0;
    // margin-right: 0;
  }
  &__top-decor {
    height: 98px;
    width: calc(100% + 60px);
    position: relative;
    @include from(601px){
      margin-left: -30px;
      margin-right: -30px;
    }
    @include to(1024px){
      height: 1px;
      padding-left: calc(var(--page-side-fields) - 24px);
      padding-right: calc(var(--page-side-fields) - 24px);
      &:last-child {
        display: none;
      }
    }
    @include to(600px){
      padding-left: 0;
      padding-right: 0;
      width: calc(100% + 46px);
      margin-left: -23px;
      margin-right: -23px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(192, 164, 111, 0.50);
      transform: translateY(-50%);
      @include to(1024px){
        left: 16px;
        width: calc(100% - 31px);
      }
    }
    svg {
      position: relative;
      z-index: 2;
      margin-left: auto;
      display: block;
      margin-right:  pxWidthInVw(516);
      @include to(1024px){
        display: none;
      }
    }
  }
  &__title {
    color: var(--color-send);
    font-family: $default-font3;
    font-size: Min(64px, pxWidthInVw(64));
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: pxInVh(60);
  }
  &__subtitle {
    width: 100%;
    margin-bottom: 20px;
    @include to(600px){
      margin-bottom: 8px;
    }
    &::before {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--color-gold);
      margin-right: 10px;
    }
  }
  .footer__group-links {
    @include size(12);
    @include shift(0);
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    @include to(1024px){
      @include size(24);
      padding-top: 40px;
    }
    @include to(600px){
      margin-left: 0;
      margin-right: 0;
    }
    &-part {
      width: calc(50% - 10px);
      word-break: break-all;
      @include to(600px){
        padding-right: 12px;
        &:last-child {
          margin-left: 8px;
        }
      }
      
    }
    .footer__title {
      width: 100%;
      @include to(1024px){
        display: none;
      }
    }
  }
  .footer__group-menu {
    @include size(12);
    @include shift(0);

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
    @include to(1024px){
      @include size(24);
      justify-content: space-between;
      padding-top: 40px;
      padding-bottom: 40px;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -25px;
        width: calc(100% + 49px);
        height: 1px;
        background-color: rgba(192, 164, 111, 0.5);
      }
    }
    @include to(600px){
      padding-top: 16px;
      padding-bottom: 16px;
      justify-content: flex-start;
      margin-left: 0;
      margin-right: 0;
    }
    .footer__title {
      width: 100%;
      @include to(1024px){
        display: none;
      }
    }
    & > a {
      break-inside: avoid-column;
      display: block;
      color: var(--color-send);
      text-decoration: none;
      @include text-style-nav;
      color: transparent;
      @include to(600px){
        width: 49%;
      }
    }
    @include from(601px){
      & > a~a {
        margin-left: pxWidthInVw(40);
      }
    }
    @include to(600px){
      &>a:nth-child(n+3) {
        margin-top: 8px;
      }
    }
    a {
      position: relative;
      overflow: hidden;
    }
    a::before {
      content: attr(data-title);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      color: var(--color-send);
      transition: 0.25s ease-out;
      transform: none;
    }
    a:hover:before {
      transform: translateY(100%);
    }
    a:hover:after {
      transform: translateY(0);
    }
    a:after {
      content: attr(data-title);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      color: var(--color-send);
      transition: 0.25s ease-out;
      transform: translateY(-100%);
    }
  }
  &__not-desktop-title {
    font-size: 24px;
    color: var(--color-graphite);
    font-weight: 600;
    line-height: 130%;
    display: none;
    width: 100%;
    margin-bottom: 10px;
    @include to(1024px) {
      display: block;
    }
  }
  &__top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    @include from-to(1025px, 1240px){
      .footer__group {
        width: 25%;
      }
    }
    @include to(1024px){
      .footer__group:nth-child(3) {
        order: 1;
      }
    }
    @include to(1024px){
      padding-top: 40px;
      padding-bottom: 40px;
      row-gap: 24px;
      .footer__group {
        width: 50%;
      }
    }
    @include to(600px){
      row-gap: 16px;
      padding-top: 16px;
      padding-bottom: 16px;
      .footer__group {
        width: 100%;
      }
      .social-link {
        width: 56px;
        height: 56px;
      }
      .button-colored {
        padding: 16px 24px;
      }
    }
  }
  &__group {
    display: flex;
    flex-wrap: wrap;
    
    .social-link~.social-link {
      margin-left: 20px;
    }
  }
  .text-style-auxiliary {
    text-transform: none;
  }
}

.tablet,
.mobile {
  .footer {
  }
}

.footer-button-dark {
  border-radius: 100px;
  background-color: var(--color-graphite);
  color: var(--color-white);
  padding: 17px 24px;
  display: flex;
  align-items: center;
  text-decoration: none;
  @include text-style-nav;
  width: max-content;
  transition: 0.25s ease-out;
  @include to(1440px) {
    @include text-style-nav;
  }
  @include to(600px) {
    padding: 16px;
  }
  [fill] {
    transition: fill 0.25s ease-out;
  }
  [stroke] {
    transition: stroke 0.25s ease-out;
  }
  svg {
    margin-right: 10px;
  }
}

.desktop {
  .footer-button-dark:hover {
    background-color: var(--color-green);
    color: var(--color-send);
    [fill] {
      fill: var(--color-send);
    }
    [stroke] {
      stroke: var(--color-send);
    }
  }
}

.footer-button-light {
  color: var(--color-graphite);
  padding: 17px 24px;
  display: flex;
  align-items: center;
  text-decoration: none;
  @include text-style-nav;
  width: max-content;
  border-bottom: 1px solid var(--color-graphite);
  transition: 0.25s ease-out;
  @include to(1440px) {
    @include text-style-nav;
  }
  @include to(1024px) {
    padding-left: 0;
    padding-right: 0;
  }
  @include to(600px) {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  [fill] {
    transition: 0.25s ease-out;
  }
  svg {
    margin-right: 10px;
  }
}

.desktop {
  .footer-button-light:hover {
    border-color: var(--color-green);
    color: var(--color-green);
    [fill] {
      fill: var(--color-green);
    }
    [stroke] {
      stroke: var(--color-green);
    }
  }
}

.footer-link-with-icon {
  display: flex;
  align-items: center;
  align-content: flex-start;
  color: var(--color-graphite);
  text-decoration: none;
  @include text-style-nav;
  @include to(1440px) {
    @include text-style-nav;
  }
  @include to(1024px) {
    svg {
      display: none;
    }
  }
  svg {
    margin-right: 10px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  span:first-child {
    margin-left: calc(24px + 10px);
    @include to(1024px) {
      margin-left: 0;
    }
  }
}

.footer-second {
  background-color: var(--color-black);
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include from(1025px){
    margin-top: -60px;
  }
  position: relative;
  @include to(1024px){
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 24px;
  }
  @include to(600px){
    padding-left: 16px;
    padding-right: 16px;
  }
  &__text {
    color: var(--color-send);
    font-family: $default-font;
    font-size: pxWidthInVw(18);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.2;
    @include to(1024px){
      font-size: 16px;
      line-height: 125%;
      max-width: 210px;
    }
    @include to(600px){
      font-size: 14px;
      max-width: 160px;
    }
  }
  &__logo {
    width: 77px;
    height: 84px;
    @include from-to(1025px, 1360px){
      width: 60px;
      height: 66px;
    }
    @include to(600px){
      width: 52px;
      height: 57px;
    } 
    svg {
      width: 100%;
      height: 100%;
    }
  }
}