.menu {
  background-color: rgba(#fff, 0.7);
  @include sideBorders;
  &:before {
    left: 16px;
  }
  &:after {
    right: 16px;
  }

  &__link-s {
    text-decoration: none;
    color: var(--color-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    /* 20.8px */
    margin-top: 10px;
    display: block;
  }

  &__link {
    color: var(--color-send);
    text-decoration: none;
    position: relative;
    transition: 0.25s ease-out;
    color: var(--color-send);
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @include text-style-tablet-h-3;
    padding: 24px;
    border-bottom: 1px solid rgba(192, 164, 111, 0.50);
    border-top: 1px solid rgba(192, 164, 111, 0.50);
    width: 100%;
    margin-top: -1px;
    &-inner {
      width: 100%;      
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: 0.25s ease-out;
      pointer-events: none;
      transition-delay: 0s; 
      height: 0;
    }
    &.active &-inner {
      opacity: 1;
      height: auto;
      pointer-events: auto;
      transition-delay: .25s;
    }
    &:first-child {
      border-top: none;
    }

    @media (hover: hover) {
      &:hover:after {
        transform: translateY(0);
      }

      &:hover:before {
        transform: translateY(100%);
      }
    }
  }

  &__item-inner {
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include to(600px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__header {
    padding: 0 24px 24px 24px;

    @include to(600px) {
      padding: 16px;
    }

    &-title {
      &:not(:first-child) {
        margin-top: 20px;
      }
    }

    &-mobile-link {
      display: none;
    }

    &-logo {
      margin-right: auto;
      margin-left: 0;
      display: none;
    }

    &-link {
      font-size: 14px;
      font-weight: 700;
      color: var(--color-black);
      text-decoration: none;
      margin-right: 24px;
    }

    .action--close {
      margin-left: 0;
      margin-right: auto;
    }

    &-map-inner {
      margin-top: 20px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
      @media (max-width: 600px) {
        max-width: 350px;
      }
      .footer-button-light {
        padding: 0 0 8px;
        font-size: 16px;
        color: var(--color-green);
        border-color: var(--color-green);
        [fill] {
          fill: var(--color-green);
        }
        [stroke] {
          stroke: var(--color-green);
        }
      }
    }
  }

  &__socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;

    &__link {
      font-size: 42px;
      line-height: 110%;
      color: var(--color-black);
      text-decoration: none;
      position: relative;
      transition: 0.25s ease-out;
      color: transparent;
      overflow: hidden;
      white-space: nowrap;
      font-family: $default-font2;
      text-align: left;
      margin-bottom: 16px;

      &:after {
        content: attr(data-title);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        font-size: 42px;
        line-height: 110%;
        color: var(--color-black);
        font-family: $default-font2;
        transition: 0.25s ease-out;
        transform: translateY(-100%);
        @include to(600px) {
          opacity: 0 !important;
        }
      }

      &:before {
        content: attr(data-title);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        font-size: 42px;
        line-height: 110%;
        color: var(--color-black);
        transition: 0.25s ease-out;
        transform: none;
      }

      @media (hover: hover) {
        &:hover:after {
          transform: translateY(0);
        }

        &:hover:before {
          transform: translateY(100%);
        }
      }

      &-title {
        width: 100%;
        text-align: left;
      }
    }
  }

  .desktop {
    .menu {
      &__header-link {
        transition: 0.25s ease-out;

        &:hover {
        }
      }

      &__link {
        &:hover {
          color: transparent;

          &:before {
            clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
          }
        }
      }
    }
  }

  .action {
    background: none;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 0;
  }

  .action--menu {
    // pointer-events: auto;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 1000;
  }

  .menu--open .action--menu {
    pointer-events: none;
  }

  .action--close {
    z-index: 1000;
    opacity: 1;
    padding: 20px 0;
    font-family: $default-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    svg {
      margin-left: 12px;
    }
  }

  .icon--menu {
    width: 2rem;
  }

  .icon--close {
    width: 1rem;
  }

}

.menu {
  text-align: center;
  width: 100%;
  height: calc(100vh - var(--header-h));
  overflow-y: auto;
  background-color: var(--color-black);
  position: fixed;
  left: 0;
  z-index: 39;
  pointer-events: none;
  visibility: hidden;
  top: var(--header-h);
  padding-top: var(--header-h);
  display: grid;
  height: calc((var(--vh, 1vh) * 100));
  grid-template-areas:
    'menu-links'
    'contacts';
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 1fr;
  padding-bottom: 24px;

  top: 0;
}

.when-opened {
  @include closedClipPath;
  transition: .25s ease-out;
}
.when-closed {
  transition: .25s ease-out;
}
.menu-opened {
  [data-menu-call] {
    .when-closed {
      @include closedClipPath;
    }
    .when-opened {
      @include openedClipPath;
    }
  }
}