.home-screen6 {
    position: relative;
    background-color: var(--color-black);
    
    padding: var(--screen-offset) calc(var(--page-side-fields) + 40px);
    @include sideBorders();
    &__title {
        @include to(1024px){
            text-align: center;
        }
    }
    &__subtitle {
        @include from(1025px){
            margin-bottom: -1.5em;
        }
        @include to(1024px){
            margin-left: auto;
            text-align: center;
            margin-bottom: 8px;
        }
    }

    &__digit {
        color: #C0A46F;

        text-align: center;
        font-family: $default-font2;
        font-size: pxWidthInVw(124);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        align-self: flex-end;
        @include from(1025px){
            margin-bottom: -30px;
        }
        @include to(1024px){
            font-size: 77.5px;
            margin-bottom: -8px;
            line-height: 100%;
        }
    }
    &__subdigit {
        color: var(--color-gold);
        font-family: $default-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 125%;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        align-self: flex-end;
    }
    &__table {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-left: -39px;
        margin-right: -39px;
        &-item {
            padding: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            border: 1px solid rgba($color-gold, 0.5);
            @include to(1024px){
                padding: 24px;
                &:empty {
                    display: none;
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &.no-padding {
                padding: 0;
                @include to(1024px){
                    height: 500px;
                }

            }
            &--with-text {
                width: 25%;
                @include to(1024px){
                    &:first-child {
                        width: 100%;
                    }
                    width: 50%;
                }
            }
            &--with-img {
                width: 50%;
            }
        }
        &-item:nth-child(5),
        &-item:nth-child(1) {
            border-left: none;
        }
        &-item:nth-child(3),
        &-item:nth-child(4),
        &-item:nth-child(2),
        &-item:nth-child(1) {
            border-bottom: none;
        }
        &-item:nth-child(1),
        &-item:nth-child(2),
        &-item:nth-child(3),
        &-item:nth-child(4),
        &-item:nth-child(5),
        &-item:nth-child(6) {
            border-right: none;
        }

    }
}